.date,
.time,
.punchInOutBtns,
.spp,
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  margin: 20px 0px 10px 0px;
}
.time {
  margin: 0px 0px 10px 0px;
}

/* 
.accordion_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion_container{
  width: 650px;
}
@media (min-width: 768px) {
  .accordion_div {
      width: 650px;
  }
} */